# Virtual Environment
env/
.venv/
venv/

# Database
*.sqlite3

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# IDE settings
.vscode/
.idea/